

nav{

}

.homeContent{
    border: 1px solid #e1b2b2;
    min-height: 100%;
}
a{
    color: #000;
}
.nav>li>a:hover{
    color: #fff;
    background-color: #337ab7;
}
.homeNavLi{
    border: 1px solid #eee1e1;
}
.homeNavLi a.homeNavLiA{
    font-weight: bold;
}
.homeNavChild{
    margin-left:30px;
}
.homeNavChild li{
    background-color: #975e5e2b;
    border-radius: 10px;
    width: 96%;
    height: 35px;
}
.navImg{
    margin-right:10px;
    float:right;
}